// POLYCHROMATIC
$color-primary: #dd7194;
$color-primary-dark: #b65c78;
$color-secondary: #4c98ff;
$color-secondary-light: #a7d7ff;
$color-tertiary: #68cdae;
$color-tertiary-dark: #53a48b;

// MONOCHROMATIC
$color-grey: #e5e5e5;
$color-grey-dark: #d8d8d8;
$color-white: #fafafa;
$color-black: #000;
// $color-black: #3e3e3e;

// CONTEXTUAL
$color-text: $color-black;
$color-text-bios: #808080;

// TASKBAR
$color-taskbar-background: #cecece;
$color-taskbar-inset-background: #b7b7b7;
$color-taskbar-border-light: #e5e5e5;
$color-taskbar-border-regular: #898989;
$color-taskbar-border-dark: #5b5b5b;
