// TASKBAR
$taskbar-height: 32px;
$taskbar-height-mobile: 42px;
$taskbar-clock-size: 20px;
$taskbar-task-size: 20px;

// TASKVIEW
$taskview-height: calc(100% - #{$taskbar-height-mobile});
$taskview-list-height: 64px;

// WINDOW
$window-maximized-height: calc(100% - #{$taskbar-height});
$window-height-mobile: calc(100% - #{$taskbar-height-mobile});
$window-header-name-size: 22px;
$window-header-name-size-mobile: 28px;

// DESKTOP ICON
$desktop-icon-size: 64px;
$desktop-icon-img-size: 32px;
$desktop-icon-font-size: 18px;
