@font-face {
  font-family: 'Pixel Arial 11';
  src: url('PixelArial11.eot');
  src: url('PixelArial11.eot?#iefix') format('embedded-opentype'),
    url('PixelArial11.woff2') format('woff2'),
    url('PixelArial11.woff') format('woff'),
    url('PixelArial11.ttf') format('truetype'),
    url('PixelArial11.svg#PixelArial11') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
