@import './functions/index.scss';
@import './variables/index.scss';
@import './cursor.scss';

body {
  position: fixed;
  cursor: $cursor-arrow;
  background: black !important;
}

body,
html {
  height: 100dvh;
  width: 100dvw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a:hover,
button:hover {
  cursor: $cursor-pointer;
}
