body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Oxygen", sans-serif;
  background-color: var(--color-background);
  color: var(--color-foreground);
  padding: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
